<div class="refill">
  <div class="refills-wrapper">
  {{ article-type }}
  </div>
</div>

<div class="refill">
  <div class="refills-wrapper">
  <p class="type">Buttons</p>
  <br>
  {{ button-flat }} {{ button-hollow }}
  </div>
</div>

<div class="refill">
  <div class="refills-wrapper">
    <h6 class="type">Logo</h6>
    <div class="logo-sm">
    {{ artwork-logo }}
    </div>
  </div>
</div>

<div id="navigation" class="refill">
  <div class="refills-wrapper">
    <p class="type">Navigation</p>
    {{ structure-navigation }}
  </div>
</div>

<div class="refill">
  <div class="refills-wrapper">
    <p class="type">Overview</p>
      {{ component-overview }}
    </div>
  </div>
</div>

<div class="refill">
  <div class="refills-wrapper">
    <p class="type">Gallery</p>
    {{ component-gallery-artist }}
  </div>
</div>

<div class="refill">
  <div class="refills-wrapper">
    <p class="type">Background</p>
      {{ component-background }}
    </div>
  </div>
</div>

<div class="refill">
  <div class="refills-wrapper">
    <p class="type">Modal</p>
    {{ structure-modal }}
  </div>
</div>

<div class="refill">
  <div class="refills-wrapper">
    <p class="type">Browse</p>
    {{ component-browse-artwork }}
  </div>
</div>
